
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

:root{
    --mb-1:.5rem;
    --mb-2:1rem;
    --mb-3:1.5rem;
    --mb-4:2rem;
    --mb-5:4rem;

    --main-color:#3b9c0a;
    --pricing-btncolor:#797f8b;
    --footerBg-color:#292d36;
    --section-color:#efe8e8;
}

html{
    scroll-padding-top: 5rem;
}

.layout{
    max-width: 1200px;
    width: 100%;
    margin: auto;
}

section{
    padding: 2rem 6%;
}

section:nth-child(even){
    background-color: var(--section-color);
}


header{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 44;
    transition: .4s;
}

header .headerWraper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    height: 3rem;
}

.headerWraper .nav{
    display: flex;
}

.headerWraper .nav a{
    margin-left: 2rem;
    font-size: 1rem;
    font-weight: 500;
    color: white;
}

li{
    list-style: none;
}

.headerWraper .logo a{
    font-weight: 500;
    font-size: 190%;
    color: var(--main-color);
}

.headerWraper.menu{
    display: none;
}

.sticky{
    height: 3rem;
    background-color:rgb(27, 36, 62);
}

.scroll-up{
    position: fixed;
    padding: .6rem;
    background-color: var(--main-color);
    color: white;
    border-radius: 4px;
    right: 1.5rem;
    bottom: -20%;
    z-index: 22;
    transition: .4s;
    visibility: hidden;
}

.show-scroll{
    visibility: visible;
    bottom: 2rem;
}

.link-active,.nav-link:hover{
    color: var(--main-color) !important;
}



.bg{
    background-image: url(images/bg.webp);
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.3);
}

.home{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.home .content .title{
    font-size: 3rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: var(--mb-2);
}



.home .content .title span{
    color: var(--main-color);
}

.home .content .decription{
    margin-bottom: var(--mb-2);
}

.home .content .btn{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 1rem;
}

.get{
    flex: 1 11rem;
    flex-grow: 0;
    color: white;
    font-weight: 500;
    font-size: 1.5rem;
    background-color: var(--main-color);
    padding: 6px;
    transition: 0.5s;
}

.learn{
    flex: 1 11rem;
    flex-grow: 0;
    color: white;
    font-weight: 500;
    font-size: 1.5rem;
    padding: 6px;
    border: 1px solid white;
    transition: 0.5s;
}

.get:hover,.learn:hover{
    letter-spacing:1px;
}



.about{
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    align-items: center;
    margin-top: 2rem;
}

.about .content span{
    color: var(--main-color);
}

.about .content h3,p{
    margin-bottom: var(--mb-1);
}

.aboutBtn{
    border: 2px solid var(--main-color);
    padding: 4px;
    background-color: transparent;
    transition: 0.4s;
}

.about .img-section{
    width: 100%;
}

.aboutBtn:hover{
    color: white;
    background-color: var(--main-color);
}


.section-title-name{
    text-align: center;
    margin-bottom: var(--mb-5);
}

.course{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
    gap: 2rem;
    align-items: center;
}

.course .box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: var(--mb-2);
    padding: 6px;
    gap: 1rem;
}

.course .content{
    flex: 1 1 20rem;
}

.course .content h3{
    margin-bottom: var(--mb-1);
}

.course .content p{
    color: #858686;
}



.Schedules-bg-img{
    background-image: url(images/zumba.png);
    height: 95vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.8) !important;
}

.schedules .section-title-name{
    color: white;
}

.schedules .schedules-wraper{
    display: grid;
    align-items: center;
    gap: 3rem;
    grid-template-columns: repeat(auto-fit,minmax(270px, 2fr));
    margin-bottom: var(--mb-3);
}

.schedules .schedules-wraper .schedulesBox{
    border: 1px solid white;
    color: white;
    padding: 2rem;
    transition: 0.4s;
    border-radius: 8px;
}

.schedules .schedules-wraper .schedulesBox:hover{
    background-color: white;
    opacity: .7;
    color: black;
    padding: 2rem;
}

a{
    color: inherit;
}



@media(max-width:768px){
    .headerWraper .menu{
        display: block;
        color: white;
    }

    .headerWraper .nav{
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        top: -500%;
        transition: 0.5s;
        background-color: rgb(125, 113, 113);
        border-radius: 4px;
    }

    .headerWraper.nav li a{
        text-align: center;
        display: block;
        padding: .3rem 0rem;
        color: black;
        margin-left: 0;
    }

    .nav.active{
        top: 3rem;
    }

    .headerWraper{
        background-color: var(--footerBg-color);
    }


    .home .content .title{
        font-size: 2rem;
        font-weight: 500;
        margin-bottom: var(--mb-1);
    }

    .home .content .btn{
        gap: 1rem;
    }

}

@media(max-width:1024px){
    html{
        font-size: 90%;
    }
}